.product-image {
    width: 100%;
    min-height: 400px; 
    max-height: 400px;
    object-fit: cover; 
    display: block;
}
.product-info {
    display: grid;
    grid-template-columns: 3fr 1fr;
    font-size: 1.2rem;
    height: 80px; 
    text-align: center;
}
.brand {
    margin-top: 0px;
    font-size: 1.2rem;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px; 
    padding: 10px;
}
  .grid-item {
    position: relative;
    
}
.heart-icon {
    position: absolute;
    bottom: 150px;
    right: 60px;
    font-size: 2rem;
    color: red;
}
@media (max-width: 640) {

  }
  
  @media (min-width: 640px) {
    .grid-container {
      grid-template-columns: 1fr 1fr;
    }
  
  }
  @media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
  }
